// ## Colors

$Very-Dark-Gray: hsl(0, 0%, 17%);
$Dark-Gray: hsl(0, 0%, 59%);
$white-text: rgb(227, 227, 227);

// - Font size (text input): 18px

$desktop-media-query: 700px;
$global-padding: 1em;
$box-border-radius: 10px;

