// @import url('/styles/__var.scss');
@use "./__var.scss" as var ;

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap') format('woff2');
}

*,*::before, *::after{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
button, input{
    border: 0px;
    background-color: unset;
}
button{
    cursor: pointer;
}
body{
    min-height: 100vh;
}

.hero{
    color: var.$white-text;

    overflow: show;
    position: relative;
    display: grid;

    text-align: center;
    gap: 30px;

    padding: var.$global-padding;
    padding-bottom: calc(var.$global-padding + 100px);
    background: url('/images/pattern-bg.png') no-repeat;
    background-position: center;
    background-size: cover;

    &__input-wrapper{
        display: flex;
        overflow: hidden;

        margin-inline: auto;
        width: clamp(0px, 80vw ,var.$desktop-media-query);
        
        border-radius: var.$box-border-radius;
        // border: 2px red solid;
    }
    &__input-wrapper__input{
        flex-basis: 90%;
        
        padding: var.$global-padding;
        background-color: white;
    }
    &__input-wrapper__submit-btn{
        position: relative;
        overflow: visible;
        flex-basis: 10%;
        
        padding: var.$global-padding;
        background-image: url("/images/icon-arrow.svg"), linear-gradient(black, black);
        background-repeat: no-repeat, no-repeat;
        background-position: center;

    }
    &__input-wrapper__submit-btn::after{
        position: absolute;
        overflow: visible;
        display: inline-block; 
        display: none;
        content: '';
        inset: 0px;

        margin: 10px;
        // height: 100%; 
        // width: 100%;      
        border: 2px red solid;
        // transform: rotate(180deg);
        // transition: transform 0.2s ease-in-out;
        box-shadow: 0px 0px 20px 30px red;
    }


}

.info-card{
    position: absolute;
    z-index: 2;
    transform: translate(-50%, 50%);

    // inset-inline: 100px;
    // right: 0px;
    left: 50%;
    width: clamp(0px, 80vw , calc(var.$desktop-media-query * 1.5));
    
    padding: var.$global-padding;
    border-radius: var.$box-border-radius;
    // background-color: white;
    background: linear-gradient(white, white);
    
    *:nth-child(2n){
        margin-bottom: 20px;
    }
    h6{
        color: var.$Dark-Gray;
    }
    p{
        color: black;
    }
}

#map{
    z-index: 1;
    // aspect-ratio: 1/1;
    // height: 100%;
    height: 400px;
    width: 100%;
}